<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sofurry"
          android:versionCode="23"
          android:versionName="0.5.1 beta">

    <application android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:debuggable="true">
        
        <receiver android:name=".receivers.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name=".receivers.OnAlarmReceiver" />
        
        
        <service android:name=".services.PmNotificationService" />
        
        
        <activity android:name=".activities.MainMenuActivity"
                  android:label="@string/app_name"
                  android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ChatActivity"
                  android:label="@string/app_name_chat">
            <intent-filter>
                <action android:name="android.intent.action.CHATACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.GalleryArtActivity"
                  android:label="@string/app_name_listgallery">
            <intent-filter>
                <action android:name="android.intent.action.GALLERYART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".base.classes.SFBrowseActivity">
            <intent-filter>
                <action android:name="android.intent.action.GALLERY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ListJournalsActivity"
                  android:label="@string/app_name_listjournals">
            <intent-filter>
                <action android:name="android.intent.action.LISTJOURNALS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ListMusicActivity"
                  android:label="@string/app_name_listmusic">
            <intent-filter>
                <action android:name="android.intent.action.LISTMUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ListPMActivity"
                  android:label="@string/app_name_listpm">
            <intent-filter>
                <action android:name="android.intent.action.LISTPM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ListStoriesActivity"
                  android:label="@string/app_name_liststories">
            <intent-filter>
                <action android:name="android.intent.action.LISTSTORIES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.RateActivity"
                  android:label="@string/app_name_rater">
            <intent-filter>
                <action android:name="android.intent.action.RATER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.SendPMActivity"
        		  android:label="@string/app_name_sendpm">
        	<intent-filter>
        		<action android:name="android.intent.action.SENDPM" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>

        <activity android:name=".activities.SettingsActivity"
                  android:label="@string/app_name_settings" />

        <activity android:name=".activities.TagEditorActivity"
                  android:label="@string/app_name_tageditor">
            <intent-filter>
                <action android:name="android.intent.action.TAGSELECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ViewArtActivity"
                  android:label="@string/app_name_viewart"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.PREVIEWARTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ViewJournalActivity"
                  android:label="@string/app_name_viewjournal">
            <intent-filter>
                <action android:name="android.intent.action.VIEWJOURNALCTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ViewMusicActivity"
                  android:label="@string/app_name_viewmusic">
            <intent-filter>
                <action android:name="android.intent.action.VIEWMUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ViewPMActivity"
                  android:label="@string/app_name_viewpm">
            <intent-filter>
                <action android:name="android.intent.action.VIEWPM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ViewStoryActivity"
                  android:label="@string/app_name_viewstory">
            <intent-filter>
                <action android:name="android.intent.action.VIEWSTORYACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="7"
              android:targetSdkVersion="7" />
    
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <supports-screens android:anyDensity="true"
                      android:smallScreens="true"
                      android:resizeable="true"
                      android:normalScreens="true"
                      android:largeScreens="true" />
</manifest> 