<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sofurry"
      android:versionCode="6" android:versionName="0.1.6 beta">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".MainMenu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".list.ListStories"
        		  android:label="@string/app_name_liststories">
            <intent-filter>
                <action android:name="android.intent.action.LISTSTORIES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".gallery.GalleryArt"
        		  android:label="@string/app_name_listgallery">
            <intent-filter>
                <action android:name="android.intent.action.GALLERYART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".list.ListJournals"
        		  android:label="@string/app_name_listjournals">
            <intent-filter>
                <action android:name="android.intent.action.LISTJOURNALS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PreviewArtActivity"
        		  android:screenOrientation="sensor"
        		  android:label="@string/app_name_viewart">
            <intent-filter>
                <action android:name="android.intent.action.PREVIEWARTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewStoryActivity"
        		  android:label="@string/app_name_viewstory">
            <intent-filter>
                <action android:name="android.intent.action.VIEWSTORYACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".list.ListPM"
        		  android:label="@string/app_name_listpm">
            <intent-filter>
                <action android:name="android.intent.action.LISTPM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewPMActivity"
        		  android:label="@string/app_name_viewpm">
            <intent-filter>
                <action android:name="android.intent.action.VIEWPM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountActivity"
        		  android:label="@string/app_name_settings">
            <intent-filter>
                <action android:name="android.intent.action.ACCOUNTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chat.ChatActivity"
        		  android:label="@string/app_name_chat">
            <intent-filter>
                <action android:name="android.intent.action.CHATACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest> 