<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sofurry"
      android:versionCode="2"
      android:versionName="0.1.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".MainMenu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".list.ListStories">
            <intent-filter>
                <action android:name="android.intent.action.LISTSTORIES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".gallery.GalleryArt">
            <intent-filter>
                <action android:name="android.intent.action.GALLERYART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".list.ListJournals">
            <intent-filter>
                <action android:name="android.intent.action.LISTJOURNALS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewStoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEWSTORYACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".list.ListPM">
            <intent-filter>
                <action android:name="android.intent.action.LISTPM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewPMActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEWPM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.ACCOUNTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chat.ChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.CHATACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest> 