<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sofurry"
          android:versionCode="15"
          android:versionName="0.2.8 beta">

    <!--
        BEGIN
        // Application
     -->
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:debuggable="false">
        
        <!--
            BEGIN
            // Receiver (.services.OnBootReceiver) [BOOT]
            || ========
            || Launched at boot-time to schedule checking of PMs, and possibly
            || more things in the future.
            \\ ========
         -->
        <receiver android:name=".services.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <!--
            BEGIN
            // Receiver (.services.OnAlarmReceiver)
         -->
        <receiver android:name=".services.OnAlarmReceiver" />
        
        <!--
            BEGIN
            // Service (.services.PmNotificationService)
         -->
        <service android:name=".services.PmNotificationService" />
        
        <!--
            BEGIN
            // Activity (.mainmenu.MainMenu) [MAIN]
            || ========
            || The main activity, started from the Application Launcher.
            \\ ========
         -->
        <activity android:name=".mainmenu.MainMenu"
                  android:label="@string/app_name"
                  android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.list.ListStories)
         -->
        <activity android:name=".list.ListStories"
                  android:label="@string/app_name_liststories">
            <intent-filter>
                <action android:name="android.intent.action.LISTSTORIES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.gallery.GalleryArt)
         -->
        <activity android:name=".gallery.GalleryArt"
                  android:label="@string/app_name_listgallery">
            <intent-filter>
                <action android:name="android.intent.action.GALLERYART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.list.ListJournals)
         -->
        <activity android:name=".list.ListJournals"
                  android:label="@string/app_name_listjournals">
            <intent-filter>
                <action android:name="android.intent.action.LISTJOURNALS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.list.ListMusic)
         -->
        <activity android:name=".list.ListMusic"
                  android:label="@string/app_name_listmusic">
            <intent-filter>
                <action android:name="android.intent.action.LISTMUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.itemviews.ViewArtActivity)
         -->
        <activity android:name=".itemviews.ViewArtActivity"
                  android:screenOrientation="sensor"
                  android:label="@string/app_name_viewart">
            <intent-filter>
                <action android:name="android.intent.action.PREVIEWARTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.itemviews.ViewStoryActivity)
         -->
        <activity android:name=".itemviews.ViewStoryActivity"
                  android:label="@string/app_name_viewstory">
            <intent-filter>
                <action android:name="android.intent.action.VIEWSTORYACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.itemviews.ViewJournalActivity)
         -->
        <activity android:name=".itemviews.ViewJournalActivity"
                  android:label="@string/app_name_viewjournal">
            <intent-filter>
                <action android:name="android.intent.action.VIEWJOURNALCTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.list.ListPM)
         -->
        <activity android:name=".list.ListPM"
                  android:label="@string/app_name_listpm">
            <intent-filter>
                <action android:name="android.intent.action.LISTPM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.itemviews.ViewPMActivity)
         -->
        <activity android:name=".itemviews.ViewPMActivity"
                  android:label="@string/app_name_viewpm">
            <intent-filter>
                <action android:name="android.intent.action.VIEWPM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.itemviews.ViewMusicActivity)
         -->
        <activity android:name=".itemviews.ViewMusicActivity"
                  android:label="@string/app_name_viewmusic">
            <intent-filter>
                <action android:name="android.intent.action.VIEWMUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!--
            BEGIN
            // Activity (.AccountActivity)
         -->
        <activity android:label="@string/app_name_settings"
                  android:name=".AccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.ACCOUNTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.chat.ChatActivity)
         -->
        <activity android:name=".chat.ChatActivity"
                  android:label="@string/app_name_chat">
            <intent-filter>
                <action android:name="android.intent.action.CHATACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.RateActivity)
         -->
        <activity android:name=".RateActivity"
                  android:label="@string/app_name_rater">
            <intent-filter>
                <action android:name="android.intent.action.RATER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
            BEGIN
            // Activity (.TagEditor)
         -->
        <activity android:label="@string/app_name_tageditor"
                  android:name=".TagEditor">
            <intent-filter>
                <action android:name="android.intent.action.TAGSELECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!--
            BEGIN
            // Activity (.submits.SendPMActivity)
         -->
        <activity android:label="@string/app_name_sendpm"
        		  android:name=".submits.SendPMActivity">
        	<intent-filter>
        		<action android:name="android.intent.action.SENDPM" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
    </application>

    <!--
        BEGIN
        // Uses SDK
     -->
    <uses-sdk android:minSdkVersion="4"/>
    
    <!--
        BEGIN
        // Uses Permission
     -->
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!--
        BEGIN
        // Supports Screens
     -->
    <supports-screens android:anyDensity="true"
                      android:smallScreens="true"
                      android:resizeable="true"
                      android:normalScreens="true"
                      android:largeScreens="true" />
</manifest> 